@media screen and (min-width: 1024px) {
    body {
        background-color: #0E1117;
        color: white;
    }

    /* nav-bar */
    #burger {
        display: none;
    }
    #nav_bar {
        display: block;
        height: 10vh;
    }
    #nav_bar > ul {
        width: 1024px;
        display: block;
        text-decoration: none;
        /* background-color: aliceblue; */
        text-align: right;
        height: 10vh;
        margin: auto;
    }
    #nav_bar > ul > li {
        /* background-color: rebeccapurple; */
        display: inline-block;
        padding-top: 3vh;
        
    }
    #nav_bar > ul > li > a {
        text-decoration: none;
    }

    /* Main-content */
    #main-content {
        width: 1024px;
        margin: auto;
    }

}