@media screen and (min-width: 1024px) {
    body {
        background-color: #0E1117;
        color: white;
    }

    /* nav-bar */
    #burger {
        display: none;
    }
    #nav_bar {
        display: block;
        height: 10vh;
    }
    #nav_bar > ul {
        width: 1024px;
        display: block;
        text-decoration: none;
        /* background-color: aliceblue; */
        text-align: right;
        height: 10vh;
        margin: auto;
    }
    #nav_bar > ul > li {
        /* background-color: rebeccapurple; */
        display: inline-block;
        padding-top: 3vh;
    }
    #nav_bar > ul > li > a {
        text-decoration: none;
    }

    /* Main-content */
    #main-content {
        width: 1024px;
        margin: auto;
    }

    div.div-info {
        width: 1024px;
    }

    div.div-info > ul {
        list-style-type: none;
    }

    div.div-info > h2 {
        margin-bottom: 3vh;
    }
    div#social > a {
        height: 3vh;
        margin: 3px;
        border-radius: 5px;
        background-color: #44B78B;
        color: white;
        text-decoration: none;
    }
    div#social > a:hover {
        background-color: #338666;
        text-decoration: underline;
        color: rgb(203, 248, 199);
    }
}