{% extends "app/base.html" %}

{% block content %}
    <h1>Index page for this site</h1>

O Django foi inventado para atender aos prazos de redação velozes,
ao mesmo tempo em que satisfaz os rígidos requisitos de
desenvolvedores web experientes.

Por que Django?
Com o Django, você pode levar aplicativos da Web do conceito ao
lançamento em questão de horas. O Django cuida de grande
parte do incômodo do desenvolvimento da Web, para que você
possa se concentrar em escrever seu aplicativo sem precisar
reinventar a roda. É gratuito e de código aberto.


https://www.djangoproject.com/start/overview/

==================================================
Casos de uso do framework django

aqui vamos conhecer algumas empresas que usam python e django
em seus produtos comerciais, o objetivo é mostrar que tem
mercado para esse incrivel framework.

empresa 2 https://br.pinterest.com/
    O Pinterest é outra plataforma de mídia social popular
    que permite aos usuários encontrar ideias como receitas,
    casa e inspiração de estilo. O Pinterest tem 250 milhões
    de usuários ativos por mês, então o site tem que lidar
    com uma grande quantidade de usuários. Para garantir um
    excelente desempenho, o site usa Django.

empresa 1 https://disqus.com/
    Disqus é o maior projeto até agora construído no framework Django
    do zero. O site permite que você implemente comentários e
    opções de discussão em seu site. Ele oferece um plug-in
    fácil de usar para comentários, analisa a atividade do público,
    anuncia e acessa ferramentas de engajamento do cliente.

empresa 3 https://www.mozilla.org/en-US/
    Mozilla é o segundo navegador mais popular do mundo, então
    não há necessidade de dizer quantas pessoas o usam.
    Inicialmente, Php e CakePHP eram a pilha de tecnologia central
    para o Mozilla, mas mais tarde, quando o número de usuários
    começou a aumentar, a plataforma cresceu e teve que lidar com
    milhões de pesquisas diárias.

empresa 4 https://www.instagram.com/
    Novamente, este site não precisa de introdução. O Instagram
    é o aplicativo de compartilhamento de fotos e vídeos que mais
    cresce e é bastante popular no mundo. Kevin e Mike, cofundadores
    do Instagram, desenvolveram a primeira versão deste aplicativo
    usando Django.

empresa 5 https://www.dropbox.com/?landing=dbv2
    O Dropbox é a plataforma de armazenamento baseada em
    nuvem mais popular para documentos, vídeos, fotos, gráficos
    e assim por diante. O aplicativo permite que seus usuários
    acessem os arquivos de qualquer lugar,
    a qualquer hora e de qualquer dispositivo.

====================================================
Conheça mais sobre o framework django em seus portais
oficias

github: https://github.com/django
site-oficial: https://www.djangoproject.com/
django-fundation: https://www.djangoproject.com/foundation/
Twitter: https://twitter.com/djangoproject

{% endblock %}
